
<button
className="btn-register-card"
data-toggle="modal"
data-target=".modal-editForAdmin"
onClick={(e) => actions.editAdminCard(e, props.index)}
> Editar <button>
// Realiza un seteo al estado padre, y hace target al form, no
// sirve si quiero enviar el form para guardarlo en una api, no es nada agradable para El "Cliente"


<form className="register-form" onSubmit={this.onSubmitInfo}>
          <h1 className="tittle-user-files ">Hora de Realizar unos <br/>Cambios !!!</h1>
        <div className="input-container-register edit-userContainer">
          <input
          value={this.state.firstname}
          onChange={this.onChangeInfo}
          type="text" placeholder="Nombres" name='firstname' className="input-48"
          />
          <input
          value={this.state.lastname}
          onChange={this.onChangeInfo}
          type="text" placeholder="Apellido" name="lastname" className="input-48"
          />
          <input
          value={this.state.deporte}
          onChange={this.onChangeInfo}
          type="text" placeholder="Deportes Preferidos" name="deporte" className="input-100"
          />
          <input
          value={this.state.carrera}
          onChange={this.onChangeInfo}
          type="text" placeholder="Dedicacion? ej: Pro-Trainer, Aficionado al Deporte" name="carrera" className="input-100"
          />
          <input
          value={this.state.phone_number}
          onChange={this.onChangeInfo}
          type="tel" placeholder="Cel: +56" name="phone_number" className="input-100"
          />

          <input
          value={this.state.twitter}
          onChange={this.onChangeInfo}
          type="text" placeholder="Twitter" name="twitter" className="input-100"
          />
          <input
          value={this.state.instagram}
          onChange={this.onChangeInfo}
          type="text" placeholder="Instagram" name="instagram" className="input-100"
          />
          <input
          value={this.state.facebook}
          onChange={this.onChangeInfo}
          type="text" placeholder="Facebook" name="facebook" className="input-100"
          />

          <button onClick={this.alertSaved} className="btn-edit" type="submit" >Guardar</button>
          <h5 className="back-user"><a href='/user'>Regresar</a></h5>
        </div>
      </form>
