body{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(208,89,109,1) 0%, rgba(231,156,118,1) 90% );
}

.my-text-center{
    width: 100%;
    text-align: center !important;
}
.overflow{
    overflow-y: scroll;
    height: 500px;
}
.my-padding{
    padding: 12rem 4rem 6rem 4rem;
    background: #f3f3f3;
}

.content-img{
    background-image: url("./../../img/login-img.jpg");
    width: 50%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

form.my-padding{
    padding-top: 40px;
}

.btn-register-home{
    background: linear-gradient(#FFDA63, #FFB940);
    width: 50%;
    font-size: 18px;
    padding: 10px;
    border: 0;
    opacity: 0.8;
    border-radius: 20px;
    margin-top: 4%;
    margin-bottom: 15px;
    opacity: 0.8;
    cursor: pointer;
  }
  .btn-register:hover{
    opacity: 1;
  }

  .my-padding-top{
    padding-top: 20px;
  }

  .my-text-center{
      font-family: "Ubuntu", sans-serif;
  }

  span, button{
    font-family: "Ubuntu", sans-serif;
  }

  ::placeholder {
    font-family: "Ubuntu", sans-serif;
  }

  input{
      border:none !important;
  }


  .my-background{
    background: white;
  }

  h5.text-center{
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .card-img{
    width: 100%;
    min-height: 200px;
    object-fit: cover;
    }

    .login-container{
     height: 100vh;
    }

.img-fluid{
    display: block;
    width: 35%;
    margin: 100px auto;
}

@media (max-width:880px){
    .my-padding{
        padding: 5rem 4rem 6rem 4rem;
    }
}
@media (max-width:767px){
    .my-padding{
        padding: 11rem 4rem 11rem 4rem;
    }
}
@media (max-width: 430px){
    .my-padding{
        padding: 12rem 4rem 12.3rem 4rem;
    }
}
@media (max-width: 420px){
    .my-padding{
        padding: 12rem 4rem 17rem 4rem;
    }
}
@media (max-width: 380px), (min-height: 820px){
    .my-padding{
        padding: 13rem 4rem 13rem 4rem;
    }
}
    .btn-register-card{
      background: linear-gradient(#FFDA63, #FFB940);
      width: 30%;
      font-size: 18px;
      padding: 1px;
      border: 0;
      opacity: 0.8;
      border-radius: 20px;
      opacity: 0.8;
      cursor: pointer;
    }

    .fas{
      width:20px;
      height: 20px;
    }

    ul{
      list-style-type: none;
    }

    .container-GameReservation{
      background: white;
    }

    .ul-card{
     padding-inline-start: 10px;
    }

    .padding-for-container{
      padding-top: 30px;
    }

    .rounded{
      width: 75px;
      height: 75px;
    }

    .table{
      width: 50% !important;
      margin: auto;
    }

    td{
      border-top: none !important;
    }

/*----CSS ARIEL------ */

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}
.inputfile + label figure {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d3394c;
    display: block;
    padding: 10px;
    margin: 0 auto 2px;
}
.inputfile + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}
.inputfile + label{
  color: #d3394c;
}

/* Profile container */


/* Profile sidebar */
.profile-sidebar {
  padding: 32px 0 32px 0px;
  background: #fff;
}


.profile-userpic{
    text-align: center;

    img {
        float: none;
        margin: 0 auto;
        width: 50%;
        height: 50%;
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        border-radius: 50% !important;
    }
}

.profile-usertitle {
  text-align: center;
  margin: 20px;
}

.profile-usertitle-name {
  font-size: 16px;
  font-weight: 700;
  margin: 5px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin:0 auto;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  margin-right: 5px;
}


/* -------------------------------------------testing------ */

.profile-usermenu, .btn-md {
    padding: 10px 35px;
    font-size: 14px;
    text-align: center;
    display: grid;
    border-radius: 25px;
}
.btn-info-gradiant {
  background: linear-gradient(#FFDA63, #FFB940);
  opacity: 0.8;

  cursor: pointer;
}
.btn-info-gradiant:hover {
		opacity: 1;
}
.glyphicon{
  padding-right: 8px;
}
@media only screen  and (min-width : 768px)  and (max-width : 1024px)  and (-webkit-min-device-pixel-ratio: 1)  {
.profile-usermenu, .btn-md{
    padding: 10px 15px;
  }
}

.info-juegos{
    padding: 15px;
}
/* Profile Content */
.profile-content {
  text-align: center;
  min-height: 582px;
  // ------------------------------------------------------------------------------------------>>>>>>>>>>>>>>>>>>>>>>>>

}
.profile-content-admin {
  text-align: center;
  background: #fff;
  margin: 15px;
}


/* Select Game CSS */
#Football, #Tennis, #Basketball, #Baseball{
  margin: 55px;
  padding: 15px;

}
.game:hover{
  cursor: pointer;

}

.container-selectGame{
  margin: auto;
  width: 100%;
  padding-top: 15px;
  background-origin: border-box;
  border-radius: 0px;
}
/* background-image: url("background.jpg")          imagen de fondo  */
.tittle-game{
  color: white;
  font-size: 40px;
  color: rgba(250, 0, 0, 0.5);
  background-color: white;
  border-radius: 10px;
  margin: 30px auto;
  width:50%;
}

figure.game {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 25px;
  min-width: 130px;
  max-width: 415px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  background-color: rgba(20, 0, 0, 0.5);
  border-radius: 30px;
}


figure.game *,
figure.game *:before,
figure.game *:after {
  -webkit-box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
figure.game img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  opacity: 0.9;
}
figure.game .title-selectgame-only {
  position: absolute;
  top: 59%;
  left: 25px;
  padding: 5px 10px 10px;
}
figure.game .title-selectgame-only:before,
figure.game .title-selectgame-only:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.game .title-selectgame-only:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

}
figure.game .title-selectgame-only:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
figure.game .title-selectgame-only div:before,
figure.game .title-selectgame-only div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.game .title-selectgame-only div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
figure.game .title-selectgame-only div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
figure.game h4,
figure.game h5 {
  margin: 0;
}
figure.game h4 {
  font-weight: 400;
}
.row{
    margin-right: -15px
}
figure.game h5 {
  display: block;
  font-weight: 700;
  background-color: #ffffff;
  padding: 5px 10px;
  color: #000000;
}
figure.game figcaption {
  position: absolute;
  bottom: 42%;
  left: 25px;
  text-align: left;
  opacity: 0;
  padding: 5px 60px 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1.5px;
}
figure.game figcaption p {
  margin: 0;
}
figure.game a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.game:hover img,
figure.game.hover img {
  zoom: 1;
  filter: alpha(opacity=35);
  -webkit-opacity: 0.35;
  opacity: 0.35;
}
figure.game:hover .title-selectgame-only:before,
figure.game.hover .title-selectgame-only:before,
figure.game:hover .title-selectgame-only:after,
figure.game.hover .title-selectgame-only:after,
figure.game:hover .title-selectgame-only div:before,
figure.game.hover .title-selectgame-only div:before,
figure.game:hover .title-selectgame-only div:after,
figure.game.hover .title-selectgame-only div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
figure.game:hover .title-selectgame-only:before,
figure.game.hover .title-selectgame-only:before,
figure.game:hover .title-selectgame-only:after,
figure.game.hover .title-selectgame-only:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
figure.game:hover figcaption,
figure.game.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/* Register CSS */

*{
  box-sizing: border-box;
}

/*
*    Background things
*/
body{
  margin: 0;
  font-family: sans-serif;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,89,109,10) 0%, rgba(231,156,118,1) 90% );
}

.tittle{
  color: #fff;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.register-form{
    width: 700px;
    margin: auto;
    border-width: 0px;

    border-radius: 6px;
    background: #f3f3f3;
    padding: 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.container-register{
    display: flex;
    min-height: 90vh;            /*posiciona en el centro el container-register de forma vertical*/
    width: 80%;                /*TESTING: .em .em em;    */
    margin: 0 auto;

    .input-register{
      margin-bottom: 15px;
      padding: 3%;
      font-size: 14px;                /*Text: Font-size 12px*/
    }
    #genre-tittle{
      font-size: 16px;
      text-decoration: underline black;
    }
}

.tittle{
    text-align: center;
    margin-bottom: 20px;
    color: rgba(200, 0, 0, 0.5);
    font-size: 25px;                /*titulo: font-size 25*/
}


@media (max-width: 1280px){
    .container-register{
        width: 100%;
    }
}

@media (max-width: 430px){
    .register-form{
        margin: 20px;
        padding: 25px;
    }
    .input-register{
      font-size: 12px;                /*Text: Font-size 12px*/
    }
    #genre-tittle{
      font-size: 14px;
    }
}

.input-container-register{
  padding: 0px 1%;              /*26/09/2019    adaptado ancho de input para visualizacion responsive Phone*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-48{
  width: 48%;
  border-radius: 10px;
  border: 0;
}
.input-100{
  width: 100%;
  border-radius: 10px;
  border: 0;
}


.genre{
  max-width: 100vh;
  max-height: 100vh;            /*establecido limite entre espacios*/
  padding: 10px;
  color: black;
  margin: 0 auto;
  font-size: 12px;              /*Tamaño de Texto responsive*/
  text-align: center;
}



#Masculino,#Femenino{
  cursor: pointer;
}
.btn-register{
  background: linear-gradient(#FFDA63, #FFB940);
  width: 100%;
  font-size: 18px;
  padding: 10px;
  border: 0;
  border-radius: 20px;
  margin: 0px;
  opacity: 0.8;
                /*modified: en modo horizontal btn-register chocaba con .genre*/
  cursor: pointer;
}
.btn-register:hover{
  opacity: 1;
}
.sing-in{
  width: 100%;
  margin: 0;
  font-size: 10px;
  text-align: center;
  padding: 10px;
}
/* googlebtn */
.g-signin2{
  margin: 0 auto;
}


/* User CSS */

/*
* Edited for reservation & admin view
*/
.user-container{
    padding: 15px;
}
.button-item {
    display: flex;
    margin: 20px  auto;
    width: 160px;
}

.card {
  height: auto;
  text-align: center;
  font-family: ubuntu, sans-serif;
}
#img-user{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0px;

}
.inputfile + label{
  margin: 14px;
}
#title-user{
  margin: 15px;
}

.deporte, .level-Player, .carrera, .phone-number{
  color: black;
  font-size: 18px;
  margin: 2px;
}
.modal-body{
    background: #f3f3f3;
}

.contact-btn {
  border: none;
  display: inline-block;
  padding: 2px;
  color: black;
  text-align: center;
  cursor: pointer;
  width: 70%;
  border-radius: 20px;
  font-size: 18px;
}
.contact-btn {
  background: linear-gradient(#FFDA63, #FFB940);
  text-decoration: none;
  opacity: 0.8;
}
.contact-btn:hover {
    text-decoration: none;
	opacity: 1;
    color: black;
}


#icon-contact{
  padding: 10px;
  font-size: 22px;
  color: black;
}
#icon-contact:hover{
  color: red;
}

.contact-btn:hover, #icon-contact:hover {
  opacity: 0.7;
}


.no-style{
  background: transparent;
  border-style: none;
}

.dropdown-menu{
  min-width: 100% !important;
  text-align: center !important;
}

/*
* FOOTER >>>>>
*/

.footer-distributed{
	background-color: #292c2f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 12px sans-serif;
    margin-top:25px;
	padding: 25px 30px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;

}

.footer-distributed .footer-left{
	width: 40%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}


.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
    strong{
        color: #62999f
        // #22999f
    }
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;

	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}


/*
*    Header>>>>>>>
*/


.nav-bar {
  height: 70px;
  background: #262626;
  margin-bottom:25px;
}

@media (max-width: 575px){
    .nav-bar{
        margin-bottom: 0px;
    }
    .my-padding{
        padding: 8rem 4rem 6.2rem 4rem;
    }
}

@media (max-width: 376px), (min-height: 668px){
    .my-padding{
        padding: 7rem 0rem 7rem 0rem;
    }
}
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #262626;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #2ab1ce;
  color: #ffffff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
    .nav-mobile {
        display: block;
    }

    nav {
        width: 100%;
        padding: 70px 0 0px;
    }
    nav ul {
        display: none;
    }
    nav ul li {
        float: none;
    }
    nav ul li a {
        padding: 15px;
        line-height: 20px;
        padding-left: 25%;

    }
    nav ul li ul li a {
        padding-left: 30%;
    }

    .nav-dropdown {
        position: static;
    }
    .brand a img {
        max-height: 60px;
        margin-top: 5px;
    }
}
@media screen and (min-width: 799px) {
    .nav-list {
        display: block !important;
    }
}


#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.text-decoration-headertittle:hover{
    text-decoration: none;
}
.header-distributed h3{
	color:  #ffffff;
	font: normal 30px 'Cookie', cursive;
	margin: 0;
    margin-top: 12px;
}

.header-distributed h3 span{
	color:  #5383d3;
}
